html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// Reset css finish

body{
    width:100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.body{
    width: 900px;
    height: 600px;
    display:flex;
    justify-content: center;
    align-items: center;
    .slider{
        background-color: #fff;
        width: 820px;
        height: 450px;
        display: inline-flex;
        .curve {
            z-index: 1;
            position: relative;
            margin-top: 365px;
            img{
                width: 335px;
                height: 85px;
            }
        }
        .quotes{
            z-index: 1;
            position: relative;
            margin:50px 0 0 -180px ;
            img{
                width: 70px;
                height: 50px;
            }
        }
        .background{
            z-index: 1;
            position: relative;
            margin: 50px 0 0 165px;
            img{
                width: 395px;
                height: 370px;
            }
        }
        .sliderContent{
            position: absolute;
            z-index: 2;
            width: 630px;
            height: 305px;
            margin-left: 85px;
            display: flex;
            margin-top: 65px;
            .sliderItems{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;
                .imgContent{
                    right: 0;
                    position: absolute;
                    img{
                        width: 300px;
                        height: 300px;
                        float: right;
                        box-shadow:0 1px 7px 0 #958A7E;
                        z-index: 3;
                    }
                    .button{
                        width: 80px;
                        height: 30px;
                        background-color: #fff;
                        border-radius: 20px;
                        box-shadow:0 1px 7px 0 #958A7E;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        z-index: 4;
                        position: absolute;
                        margin: 285px 0 0 30px;
                        padding: 5px;
                        button{
                            border: none;
                            outline: none;
                            background: none;
                            width: auto;
                            height: auto;
                            
                        }
                    }
                }
                .text{
                    font-family: 'Montserrat', sans-serif;
                    position: absolute;
                    width: 380px;
                    z-index: 1;
                    left: 0;
                    p{
                        font-size: 23px;
                        font-weight: 300;
                        padding: .2em;
                        line-height: 32px;
                        margin-bottom: 15px;
                    }
                    b{
                        font-weight: 600;
                        font-size: 16px;
                    }
                    span{
                        font-size: 16px;
                        font-weight: 400;
                        color: rgb(139, 139, 139);
                    }
                }
                

            }
        }
    }
}

